<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Pet Shelter</a>
    <ul>
      <li><a href="/authors">Volunteers</a></li>
      <li><a href="/authors/new">Add Volunteer</a></li>
      <li><a href="/books">Pets</a></li>
      <li><a href="/books/new">Add Pet</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>
