<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Pet Shelter</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Pets</a></li>
      <li><a href="/books/new">Add Pet</a></li>
    </ul>
  </nav>
</header>
